GrocerySystem/WebContent/wsdl/Customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="signIn">
    <complexType>
     <sequence>
      <element name="customerName" type="xsd:string"/>
      <element name="cuspassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInResponse">
    <complexType>
     <sequence>
      <element name="signInReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCustomers">
    <complexType/>
   </element>
   <element name="getAllCustomersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCustomersReturn" type="impl:CustomerObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CustomerObject">
    <sequence>
     <element name="CustomerID" type="xsd:int"/>
     <element name="cuspassword" nillable="true" type="xsd:string"/>
     <element name="CustomerName" nillable="true" type="xsd:string"/>
     <element name="CustomerAddress" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="signUp">
    <complexType>
     <sequence>
      <element name="customerName" type="xsd:string"/>
      <element name="customerAddress" type="xsd:string"/>
      <element name="cuspassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signUpResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllCustomersRequest">

      <wsdl:part element="impl:getAllCustomers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCustomersResponse">

      <wsdl:part element="impl:getAllCustomersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInResponse">

      <wsdl:part element="impl:signInResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpResponse">

      <wsdl:part element="impl:signUpResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInRequest">

      <wsdl:part element="impl:signIn" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signUpRequest">

      <wsdl:part element="impl:signUp" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Customer">

      <wsdl:operation name="signIn">

         <wsdl:input message="impl:signInRequest" name="signInRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInResponse" name="signInResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomers">

         <wsdl:input message="impl:getAllCustomersRequest" name="getAllCustomersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCustomersResponse" name="getAllCustomersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdl:input message="impl:signUpRequest" name="signUpRequest">

       </wsdl:input>

         <wsdl:output message="impl:signUpResponse" name="signUpResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerSoapBinding" type="impl:Customer">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="signIn">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCustomers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCustomersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCustomersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signUp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signUpRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signUpResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerService">

      <wsdl:port binding="impl:CustomerSoapBinding" name="Customer">

         <wsdlsoap:address location="http://localhost:8080/GrocerySystem/services/Customer"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
