GrocerySystem/WebContent/wsdl/supplier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getsupplier">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getsupplierResponse">
    <complexType>
     <sequence>
      <element name="getsupplierReturn" type="impl:SupplierObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SupplierObject">
    <sequence>
     <element name="SupplierID" type="xsd:int"/>
     <element name="SupplierName" nillable="true" type="xsd:string"/>
     <element name="SupplierAddress" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getsupplierResponse">

      <wsdl:part element="impl:getsupplierResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getsupplierRequest">

      <wsdl:part element="impl:getsupplier" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="supplier">

      <wsdl:operation name="getsupplier">

         <wsdl:input message="impl:getsupplierRequest" name="getsupplierRequest">

       </wsdl:input>

         <wsdl:output message="impl:getsupplierResponse" name="getsupplierResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="supplierSoapBinding" type="impl:supplier">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getsupplier">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getsupplierRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getsupplierResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="supplierService">

      <wsdl:port binding="impl:supplierSoapBinding" name="supplier">

         <wsdlsoap:address location="http://localhost:8080/GrocerySystem/services/supplier"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
