GrocerySystem/WebContent/wsdl/TrackingDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTracking">
    <complexType>
     <sequence>
      <element name="TrackingNo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrackingResponse">
    <complexType>
     <sequence>
      <element name="getTrackingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTrackingDetails">
    <complexType>
     <sequence>
      <element name="TrackingNo" type="xsd:int"/>
      <element name="courierNo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTrackingDetailsResponse">
    <complexType/>
   </element>
   <element name="courierNo">
    <complexType/>
   </element>
   <element name="courierNoResponse">
    <complexType>
     <sequence>
      <element name="courierNoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrackingno">
    <complexType/>
   </element>
   <element name="getTrackingnoResponse">
    <complexType>
     <sequence>
      <element name="getTrackingnoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createTrackingDetailsResponse">

      <wsdl:part element="impl:createTrackingDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="courierNoRequest">

      <wsdl:part element="impl:courierNo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackingResponse">

      <wsdl:part element="impl:getTrackingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackingnoResponse">

      <wsdl:part element="impl:getTrackingnoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTrackingDetailsRequest">

      <wsdl:part element="impl:createTrackingDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackingnoRequest">

      <wsdl:part element="impl:getTrackingno" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="courierNoResponse">

      <wsdl:part element="impl:courierNoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackingRequest">

      <wsdl:part element="impl:getTracking" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TrackingDetails">

      <wsdl:operation name="getTracking">

         <wsdl:input message="impl:getTrackingRequest" name="getTrackingRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTrackingResponse" name="getTrackingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTrackingDetails">

         <wsdl:input message="impl:createTrackingDetailsRequest" name="createTrackingDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTrackingDetailsResponse" name="createTrackingDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="courierNo">

         <wsdl:input message="impl:courierNoRequest" name="courierNoRequest">

       </wsdl:input>

         <wsdl:output message="impl:courierNoResponse" name="courierNoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTrackingno">

         <wsdl:input message="impl:getTrackingnoRequest" name="getTrackingnoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTrackingnoResponse" name="getTrackingnoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrackingDetailsSoapBinding" type="impl:TrackingDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTracking">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTrackingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTrackingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTrackingDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTrackingDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTrackingDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="courierNo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="courierNoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="courierNoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTrackingno">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTrackingnoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTrackingnoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrackingDetailsService">

      <wsdl:port binding="impl:TrackingDetailsSoapBinding" name="TrackingDetails">

         <wsdlsoap:address location="http://localhost:8080/GrocerySystem/services/TrackingDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
