Online Grocery System/WebContent/wsdl/Category.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllCategories">
    <complexType/>
   </element>
   <element name="getAllCategoriesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCategoriesReturn" type="impl:CategoryObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CategoryObject">
    <sequence>
     <element name="categoryID" type="xsd:int"/>
     <element name="categoryName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllCategoriesResponse">

      <wsdl:part element="impl:getAllCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCategoriesRequest">

      <wsdl:part element="impl:getAllCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Category">

      <wsdl:operation name="getAllCategories">

         <wsdl:input message="impl:getAllCategoriesRequest" name="getAllCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCategoriesResponse" name="getAllCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CategorySoapBinding" type="impl:Category">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CategoryService">

      <wsdl:port binding="impl:CategorySoapBinding" name="Category">

         <wsdlsoap:address location="http://localhost:8080/Online_Grocery_System/services/Category"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
