Online Grocery System/WebContent/wsdl/Order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrder">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrderResponse">
    <complexType>
     <sequence>
      <element name="getOrderReturn" type="impl:OrderObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="OrderObject">
    <sequence>
     <element name="OrderID" type="xsd:int"/>
     <element name="ProductID" type="xsd:int"/>
     <element name="ProductName" nillable="true" type="xsd:string"/>
     <element name="Quantity" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createOrder">
    <complexType>
     <sequence>
      <element name="order" type="impl:OrderObject"/>
     </sequence>
    </complexType>
   </element>
   <element name="createOrderResponse">
    <complexType/>
   </element>
   <element name="generateOrderId">
    <complexType/>
   </element>
   <element name="generateOrderIdResponse">
    <complexType>
     <sequence>
      <element name="generateOrderIdReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createOrderResponse">

      <wsdl:part element="impl:createOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateOrderIdRequest">

      <wsdl:part element="impl:generateOrderId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrderResponse">

      <wsdl:part element="impl:getOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateOrderIdResponse">

      <wsdl:part element="impl:generateOrderIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createOrderRequest">

      <wsdl:part element="impl:createOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrderRequest">

      <wsdl:part element="impl:getOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Order">

      <wsdl:operation name="getOrder">

         <wsdl:input message="impl:getOrderRequest" name="getOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrderResponse" name="getOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createOrder">

         <wsdl:input message="impl:createOrderRequest" name="createOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:createOrderResponse" name="createOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateOrderId">

         <wsdl:input message="impl:generateOrderIdRequest" name="generateOrderIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateOrderIdResponse" name="generateOrderIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderSoapBinding" type="impl:Order">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateOrderId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateOrderIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateOrderIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderService">

      <wsdl:port binding="impl:OrderSoapBinding" name="Order">

         <wsdlsoap:address location="http://localhost:8080/Online_Grocery_System/services/Order"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
