Online Grocery System/WebContent/wsdl/Payment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllPayment">
    <complexType/>
   </element>
   <element name="getAllPaymentResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllPaymentReturn" type="impl:Paymentobject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Paymentobject">
    <sequence>
     <element name="PaymentID" type="xsd:int"/>
     <element name="customerID" type="xsd:int"/>
     <element name="PaymentMethod" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPaymentResponse">

      <wsdl:part element="impl:getAllPaymentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPaymentRequest">

      <wsdl:part element="impl:getAllPayment" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Payment">

      <wsdl:operation name="getAllPayment">

         <wsdl:input message="impl:getAllPaymentRequest" name="getAllPaymentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPaymentResponse" name="getAllPaymentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PaymentSoapBinding" type="impl:Payment">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllPayment">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPaymentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPaymentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PaymentService">

      <wsdl:port binding="impl:PaymentSoapBinding" name="Payment">

         <wsdlsoap:address location="http://localhost:8080/Online_Grocery_System/services/Payment"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
