Online Grocery System/WebContent/wsdl/Product.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkProductAvailability">
    <complexType>
     <sequence>
      <element name="productName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkProductAvailabilityResponse">
    <complexType>
     <sequence>
      <element name="checkProductAvailabilityReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllProduct">
    <complexType/>
   </element>
   <element name="getAllProductResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllProductReturn" type="impl:ProductObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ProductObject">
    <sequence>
     <element name="productID" type="xsd:int"/>
     <element name="productName" nillable="true" type="xsd:string"/>
     <element name="productPrice" nillable="true" type="xsd:double"/>
     <element name="productModel" nillable="true" type="xsd:string"/>
     <element name="customerID" type="xsd:int"/>
     <element name="Quantity" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllProductRequest">

      <wsdl:part element="impl:getAllProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkProductAvailabilityResponse">

      <wsdl:part element="impl:checkProductAvailabilityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkProductAvailabilityRequest">

      <wsdl:part element="impl:checkProductAvailability" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllProductResponse">

      <wsdl:part element="impl:getAllProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Product">

      <wsdl:operation name="checkProductAvailability">

         <wsdl:input message="impl:checkProductAvailabilityRequest" name="checkProductAvailabilityRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkProductAvailabilityResponse" name="checkProductAvailabilityResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllProduct">

         <wsdl:input message="impl:getAllProductRequest" name="getAllProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllProductResponse" name="getAllProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductSoapBinding" type="impl:Product">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkProductAvailability">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkProductAvailabilityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkProductAvailabilityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductService">

      <wsdl:port binding="impl:ProductSoapBinding" name="Product">

         <wsdlsoap:address location="http://localhost:8080/Online_Grocery_System/services/Product"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
