Online Grocery System/WebContent/wsdl/trackingDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createTrackingDetails">
    <complexType>
     <sequence>
      <element name="order" type="impl:TrackingDetailsObject"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TrackingDetailsObject">
    <sequence>
     <element name="TrackingNo" type="xsd:int"/>
     <element name="courierNo" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createTrackingDetailsResponse">
    <complexType/>
   </element>
   <element name="getAllTrackingDetails">
    <complexType/>
   </element>
   <element name="getAllTrackingDetailsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllTrackingDetailsReturn" type="impl:TrackingDetailsObject"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createTrackingDetailsResponse">

      <wsdl:part element="impl:createTrackingDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTrackingDetailsResponse">

      <wsdl:part element="impl:getAllTrackingDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTrackingDetailsRequest">

      <wsdl:part element="impl:createTrackingDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllTrackingDetailsRequest">

      <wsdl:part element="impl:getAllTrackingDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="trackingDetails">

      <wsdl:operation name="createTrackingDetails">

         <wsdl:input message="impl:createTrackingDetailsRequest" name="createTrackingDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTrackingDetailsResponse" name="createTrackingDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTrackingDetails">

         <wsdl:input message="impl:getAllTrackingDetailsRequest" name="getAllTrackingDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllTrackingDetailsResponse" name="getAllTrackingDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="trackingDetailsSoapBinding" type="impl:trackingDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createTrackingDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTrackingDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTrackingDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllTrackingDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllTrackingDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllTrackingDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="trackingDetailsService">

      <wsdl:port binding="impl:trackingDetailsSoapBinding" name="trackingDetails">

         <wsdlsoap:address location="http://localhost:8080/Online_Grocery_System/services/trackingDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
